<div
  class="grid w-11/12 place-items-center cursor-pointer appearance-none rounded-md border border-gray-300/30 text-sm transition hover:border-gray-100/30 focus:border-solid focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:opacity-75 text-slate-100"
  x-data="upload"
>
  <div
    class="flex h-full w-full px-4 py-2 flex-row dark:text-slate-100 items-center mb-4"
  >
    <button
      type="button"
      class="inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent text-slate-900 dark:text-slate-50 hover:bg-blue-100 focus:bg-blue-100 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-blue-800/30 dark:focus:bg-blue-800/30"
      disabled=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-circle-x"
      >
        <circle cx="12" cy="12" r="10" />
        <path d="m15 9-6 6" />
        <path d="m9 9 6 6" />
      </svg>
      Cancel
    </button>
    <div class="flex items-center flex-row flex-wrap justify-end w-full">
      <button
        type="button"
        class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
        @click="selectFiles($event)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-upload"
        >
          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
          <polyline points="17 8 12 3 7 8" />
          <line x1="12" x2="12" y1="3" y2="15" />
        </svg>
        Select files
        <input id="files" type="file" class="sr-only" multiple />
      </button>
    </div>
  </div>
  <template x-if="!files.length">
    <div
      class="px-12 py-16 m-8 flex flex-col items-center border rounded-lg border-dashed bg-slate-300/10 dark:border-gray-100/20 dark:bg-slate-500/10 w-11/12"
      tabindex="0"
      @click="selectFiles"
    >
      <svg class="h-32 w-32 stroke-gray-400" viewBox="0 0 256 256">
        <path
          d="M96,208H72A56,56,0,0,1,72,96a57.5,57.5,0,0,1,13.9,1.7"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="24"
        ></path>
        <path
          d="M80,128a80,80,0,1,1,144,48"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="24"
        ></path>
        <polyline
          points="118.1 161.9 152 128 185.9 161.9"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="24"
        ></polyline>
        <line
          x1="152"
          y1="208"
          x2="152"
          y2="128"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="24"
        ></line>
      </svg>
      <span
        for="files"
        class="flex flex-col items-center justify-center space-x-2 space-y-2 text-slate-900 dark:text-slate-100"
      >
        <span
          class="text-small font-medium text-slate-900 dark:text-slate-100"
        >
          Drop files to Attach, or
          <span class="text-blue-600 underline">browse</span>
        </span>
        <span class="text-xs text-slate-900 dark:text-slate-100"
          >Supported files: JPG, PNG, PDF, MP3 (max. 5 MB)</span
        >
      </span>
    </div>
  </template>
  <template x-if="files.length">
    <div
      class="px-12 py-16 m-8 grid grid-cols-10 items-center border rounded-lg border-dashed bg-slate-300/10 dark:border-gray-100/20 dark:bg-slate-500/10 w-11/12 max-h-96"
      tabindex="0"
    >
    </div>
  </template>
</div>
